@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
}
html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(18px, 3vw, 24px);
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}
